src/main/resources/META-INF/remote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ye.com/schema/remote" targetNamespace="http://www.ye.com/schema/remote"
            elementFormDefault="qualified">
    <xsd:element name="remote">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="ip" type="xsd:string" />
            <xsd:attribute name="port" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>